
   
    @font-face {
      font-family: "Euclid Circular B Medium";
      src: url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.eot");
      src: url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.eot?#iefix")
          format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.woff2")
          format("woff2"),
        url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.woff")
          format("woff"),
        url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.ttf")
          format("truetype"),
        url("//db.onlinewebfonts.com/t/721c73bcd2e49f3a621991089838b503.svg#Euclid Circular B Medium")
          format("svg");
    }

    body {
      background-image: url("logo2.png");
      color: #fff;
      overflow-x: hidden;
      font-family: "Euclid Circular B Medium", Poppins;
    }
    
    @media (min-width: 991.98px) {
      main {
        padding-left: 240px;
        
      }
    }


    div.relative {
    position: relative;
    bottom: -40px;
    font-size: 60px; 
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(55, 192, 85);
    text-shadow: 0 0 10px #ffffff;
    right: -10px;
    border: 0px solid #73AD21;
    z-index: -100;
    padding: 100px 0 0;
    display:table;
    margin:0 auto;
    }

    div.help{
      font-size: 15px;
      font-family: 'rosemary-bold' ;
      text-shadow: 0 0 6px #ffffff;
      color:red; 
      display:table;
      margin:0 auto;   
    }
    
    
    .ress {
    position: relative;
    background: linear-gradient(to top, #910303, #FBEE00,#04af07,#158bca);
    border-radius: 12px;
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    display:table;
    margin:0 auto;
    padding: 2px;
    
    width: 190px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    overflow: hidden;
    cursor: pointer;
    }
    
    .header *{
    border: invisible;
    }   

    .header{
        background-color: none;
        display: flex;
        justify-content: space-between;
        color: rgb(243, 255, 72);
        text-shadow: 0 0 30px #FBEE00;
    }

    .menu{
    margin: right 30px;
    
    }

    .menu a{
        margin-left: 10px;
    }

    .footer{
    display: flex;
    justify-content: flex-end;  
    }
